// Color Palette
$body-color: #313131;
$primary-color: #f1c538;
$secondary-color: #0071b7;
$text-color: #f4f2f2;
$secondary-text-color: #2b2402;

//Responsive design width sizes
$mobile-width: 600px;
$tablet-width: 1024px;

//Font types
$font-main: 'Roboto', sans-serif;
$font-secondary:  'Anton', sans-serif;